html, body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: rgba(253, 252, 253, 0.87);
  scroll-behavior: smooth;
}

* {
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 250px;
  height: 250px;
  border: solid 5px darkmagenta;
  border-radius: 50%;
}

img:hover {
  border: solid 5px #f0aebb;
}

#img-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 251px;
  height: 251px;
  border-radius: 50%;
}

#full-name {
  background: white;
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  padding-top: 39px;
  /* margin-top: 40px; */
}

#full-name a {
  color: purple;
}

#full-name a:hover {
  color: #f0aebb;
}

#address {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#main-content {
  text-align: center;
  width: 600px;
  margin: auto;
}

#work, #education, #skills, #hobbies, #contact, #contact-form {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#contact-form {
  text-align: center;
}

#nav-wrapper {
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 19px;
}

body {
margin-bottom: 30px;
}

h3 {
  font-size: 25px;
  border: 4px ridge rgb(253, 65, 244);
  padding-top: 5px;
}

#contact-form-greeting {
  border: none;
}

nav {
  position: fixed;
  top: 0px;
  left: auto;
  right: auto;
  height: 28px;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  background: purple;
  color: antiquewhite;
  margin-top: 0;
}

nav ul {
  position: relative;
  bottom: 9px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: antiquewhite;
}

nav ul a {
  color: whitesmoke;
}

nav ul a:hover {
  color: #f0aebb;
}

#contact-me-icon {
  position: fixed;
  bottom: 5px;
  right: 5px;
  height: 59px;
  width: 59px;
}

input {
  padding-top: 9px;
  margin-top:13px;
  width: 300px;
}

textarea {
  margin-top: 13px;
}

hr {
  border: 3px solid rgb(252, 61, 252);
  border-radius: 3px;
  width: 80% !important;
}

button {
  color: whitesmoke;
  text-align: center;
  padding: 5px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 9px;
  background: rgb(197, 12, 197);
  font-size: 15px;
}

button:hover {
  color: purple;
  border-radius: 17px;
  background: violet;
  box-shadow: 0px 2px 1px 0px blue;
}

#go-to-top {
  position: sticky;
  top: 200px;
  height: 45px;
  width: 45px;
  border-radius: none;
}

footer {
  text-align: center;
  padding-top: 40px;
}