body {
    background-color: rgb(238, 230, 240);
    margin: auto;
    width: 80%;
    color: rgb(57, 29, 61);
}

#header-name {
    background: purple;
    text-align: left;
    color: beige;
    padding: 10px;
    border-radius: 3px;
    margin-top: 0%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 150px, 130px;
    border: 5px, solid, pink;
}

h3 {
    color: rgb(255, 208, 0);
}

#info {
    margin-left: 100px;
    border: 5px, solid, blue;
}