body {
    background-color: rgb(238, 230, 240);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    color: rgb(57, 29, 61);
    font-family: Arial, Helvetica, sans-serif;
}

/* [first-line] {
    margin-top: 10px;
} */

#header-name {
    /* background: purple; */
    font-size: 35px;
    text-align: left;
    color: rgb(57, 29, 61);
    /* padding: 10px; */
    border-radius: 3px;
    /* margin-top: 15px; */
    font-weight: bold;
}

nav {
    position: relative;
    float: right;
}

a {
    text-decoration: none;
}

a:hover {
    color: darkviolet;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 150px, 130px;
    border: 5px, solid, pink;
}

h3 {
    color: rgb(255, 208, 0);
}

/* #info {
    margin-left: 100px;
    border: 5px, solid, blue;
} */