body {
    background: url("https://res.cloudinary.com/ce0la/image/upload/e_grayscale,o_21/v1566682597/code-cloud-wallpaper-18_aydkvi.png");
    margin: auto;
    width: 600px;
}

img {
    text-align: center;
}